body {
  margin: 0;
  padding: 0;
  width: 450px;
  height: 580px;
}

a {
  text-decoration: none;
}

.button {
  cursor: pointer;
  border: none;
  padding: 8px 20px;
  border-radius: 5px;
  background-color: #2185d0;
  color: white;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif
}
.button-disabled {
  cursor: default;
  opacity: .45 !important;
}

/* header.top-bar */
.top-bar {
  height: 50px;
  width: 100%;
  background-color: #4674E8;
  color: #fff;
  font-size: 20px;
}
.top-bar a {
  color: #fff;
}
#menu-button {
  padding: 10px;
  display: inline-block;
}
#app-title {
  position: absolute;
  left: 25%;
  display: inline-block;
  padding: 10px;
  width: 50%;
  text-align: center;
}

/* left-menu */
#left-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 580px;
  z-index: 200;
  background-color: #fafafa;
  transition: width 0.2s ease-in-out;
}
.menu-show {
  width: 280px;
}
.menu-hide {
  width: 0px;
  overflow: hidden;
}

/* article.main */
.main {
  margin-top: 25px;
  padding: 0 30px;
}

#newAPIForm {
  width: 100%;
}
#newAPIForm .formField {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  margin: 10px auto;
}
#newAPIForm .formInput {
  width: 100%;
  padding: 5px;
  font-size: 16px;
}
#newAPIForm .button-block {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  margin: 10px auto;
}


/* toggle-helper */
#toggle-helper {
  position: fixed;
  right: 0;
  top: 0;
  width: 450px;
  height: 580px;
  display: none;
  opacity: 0.2;
  background-color: #fafafa;
  z-index: 100;
}
.helper-show {
  display: block !important;
}
